body{
    background-image: url("Images/marble-g8aefa5a7e_1920.jpg");
    text-align: center;
}
.fds{
    border: 3px solid black;
    border-radius: 10px;
    margin: 20px;
    padding: 10px;
}
.carousel{
    padding: 20px;
    margin: 25px auto;
    max-height: 30%;
}
.row {
    padding: 10px;
    margin: 20px;

}
.aboutme{
    display: block;
    align-items: center;
    justify-content: center;
    margin: 5px auto;
    max-height: 30%;
    animation: alternate;
}
.iframe{
    max-width: 100%;
    min-width: 70%;
    width: 100%;
    height: 350px;
}
.info{
    height: 170px;
 }